/ {
	chosen {
		zephyr,console = &cdc_acm_uart0;
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

/* Ativa o hardware da porta USB_USER (OTG_FS) */
&usbotg_fs {
	status = "okay";
};

/* Ativa o ADC e o DAC */
&adc1 {
	status = "okay";
};

&dac1 {
	status = "okay";
};